/*
CSS styles for Conference
*/
.main-background {
  background: url(../images/conf-background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
}

.main-background h1 {
  position: relative;
  top: -3%;
}