:root {
  --color-bg-main: #3A3938;
  --color-bg-alternate: #fff;
  --color-bg-highlight: #78E23A;
  --color-bg-black: #000000;

  --color-main-schema: #78E23A;
  --color-main-white: #f5f5f5;
  --color-alternate1: #8FAADC;
  --color-alternate2: #F4B183;
  --color-alternate3: #FFD966;
  --sd-heading1-size: 6.5vw;
  --sd-heading1-line-height: 1;
  --sd-heading2-size: 5vw;
  --sd-heading2-line-height: 1;
  --sd-text-line-height: 1.2;
  --sd-background-color: #fff;
  --sd-heading-color: #000;
  --sd-text-color: #000;
  --sd-primary-color: #0097a7;

  /* SpeakerView */
  --sd-sv-timer-size: 40px;
  --sd-sv-text-size: 20px;
  --sd-sv-text-line-height: 1;
  --sd-sv-background-color: #242424;
  --sd-sv-text-color: rgba(255, 255, 255, 0.87);
}

@font-face {
  font-family: Amatic;
  src: url(../fonts/Amatic_SC/AmaticSC-Bold.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
  font-family: Montserrat;
}

h1,
h2 {
  font-family: Amatic;
}

.title {
  justify-content: end;
}

.main-slide {
  background-image: url(../images/dvx_fr_main_01.jpg);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 50%;
}

.main-slide::before {
  content: "";
  background-color: var(--color-bg-alternate);
  top: -80%;
  left: 55%;
  width: 100%;
  height: 200%;
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 10px var(--color-bg-alternate);
  transform: rotate(80deg);
}

.slide-text {
  display: block;
}

.slide-text h2 {
  text-align: left;
  margin-bottom: 5rem;
}

.slide-text ul {
  margin: 2rem;
  width: 100%;
}

.slide-text ul li {
  list-style: none;
  line-height: 1.8em;
}

.slide-text .twitter {
  color: var(--sd-primary-color);
}

.slide-text p {
  text-align: left;
  line-height: 1.6em;
}

.ovhcloud-world {
  background-image: url(../images/ovhcloud-world.png);
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.ovhcloud-world h2 {
  color: #260691;
  text-align: left;
  position: absolute;
  top: 5%;
  left: 5%;
}

/****
 * CSS Styles for _merciii.sdf slide
 ****/
 .love {
  background-image: url(../images/love.jpg);
  background-size: cover;
  display: block;
}

.love h2 {
  color: #fff;
  position: relative;
  top: 40%;
  left: 25%;
  font-size: 300%;
}

.love-image-author a {
  color: #fff;
}

/****
 * Global styles
 ****/

code {
  font-size: 80%;
}
 .img-right {
  position: absolute;
  right: 20px;
}

.img-right-author {
  position: absolute;
  font-size: small;
  bottom: 5%;
  right: 1%;
  z-index: 2;
}

.full-image-author {
  position: absolute;
  bottom: 30px;
  right: 2px;
  font-size: medium;
}

.image-author-black a {
  color: #000;
}

.image-author-white a {
  color: #fff;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text p {
  text-align: center;
}

.center-text-on-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/** gestion des couleurs du footer **/
.sd-slide.white-footer.sd-current ~ .footer {
  color: #fff;
}

/****
 * CSS Styles for _java.sdf slide
 ****/
 .lego {
  background-image: url(../images/lego.jpeg);
  background-size: cover;
  display: block;
}

.lego h2 {
  color: #fff;
}

/****
 * CSS Styles for _demos.sdf slide
 ****/
 .demos {
  background-image: url(../images/demos.jpg);
  background-size: cover;
  display: block;
}

.demos h2 {
  color: #000;
}

.demo-image-author a {
  color: #fff;
}

/****
 * CSS Styles for 11-jbang-advanced.sdf slide
 ****/
 .jbang-advanced a {
  color: black;
}:root {
  --color-bg-main: #3A3938;
  --color-main-schema: #78E23A;
  --color-main-white: #f5f5f5;
  --sd-heading1-size: 6.5vw;
  --sd-heading1-line-height: 1;
  --sd-heading2-size: 5vw;
  --sd-heading2-line-height: 1;
  --sd-text-line-height: 1.2;
  --sd-background-color: #fff;
  --sd-heading-color: #000;
  --sd-text-color: #000;
  --sd-primary-color: #0097a7;

  /* SpeakerView */
  --sd-sv-timer-size: 40px;
  --sd-sv-text-size: 20px;
  --sd-sv-text-line-height: 1;
  --sd-sv-background-color: #242424;
  --sd-sv-text-color: rgba(255, 255, 255, 0.87);
}

@font-face {
  font-family: Amatic;
  src: url(../fonts/Amatic_SC/AmaticSC-Bold.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
  font-family: Montserrat;
}

h1,
h2 {
  font-family: Amatic;
}

.title {
  justify-content: end;
}

.main-slide {
  background-image: url(../images/dvx_fr_main_01.jpg);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 50%;
}

.main-slide::before {
  content: "";
  background-color: var(--color-bg-alternate);
  top: -80%;
  left: 55%;
  width: 100%;
  height: 200%;
  position: absolute;
  z-index: -1;
  box-shadow: 0 0 10px var(--color-bg-alternate);
  transform: rotate(80deg);
}

.slide-text {
  display: block;
}

.slide-text h2 {
  text-align: left;
  margin-bottom: 5rem;
}

.slide-text ul {
  margin: 2rem;
  width: 100%;
}

.slide-text ul li {
  list-style: none;
  line-height: 1.8em;
}

.slide-text .twitter {
  color: var(--sd-primary-color);
}

.slide-text p {
  text-align: left;
  line-height: 1.6em;
}

.ovhcloud-world {
  background-image: url(../images/ovhcloud-world.png);
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}

.ovhcloud-world h2 {
  color: #260691;
  text-align: left;
  position: absolute;
  top: 5%;
  left: 5%;
}

/****
 * CSS Styles for _merciii.sdf slide
 ****/
 .love {
  background-image: url(../images/love.jpg);
  background-size: cover;
  display: block;
}

.love h2 {
  color: #fff;
  position: relative;
  top: 40%;
  left: 25%;
  font-size: 300%;
}

.love-image-author a {
  color: #fff;
}

/****
 * Global styles
 ****/

code {
  font-size: 80%;
}
 .img-right {
  position: absolute;
  right: 20px;
}

.img-right-author {
  position: absolute;
  font-size: small;
  bottom: 5%;
  right: 1%;
  z-index: 2;
}

.full-image-author {
  position: absolute;
  bottom: 30px;
  right: 2px;
  font-size: medium;
}

.image-author-black a {
  color: #000;
}

.image-author-white a {
  color: #fff;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text p {
  text-align: center;
}

.center-text-on-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/** gestion des couleurs du footer **/
.sd-slide.white-footer.sd-current ~ .footer {
  color: #fff;
}

/****
 * CSS Styles for _java.sdf slide
 ****/
 .lego {
  background-image: url(../images/lego.jpeg);
  background-size: cover;
  display: block;
}

.lego h2 {
  color: #fff;
}

/****
 * CSS Styles for _demos.sdf slide
 ****/
 .demos {
  background-image: url(../images/demos.jpg);
  background-size: cover;
  display: block;
}

.demos h2 {
  color: #000;
}

.demo-image-author a {
  color: #fff;
}

/****
 * CSS Styles for 11-jbang-advanced.sdf slide
 ****/
 .jbang-advanced a {
  color: black;
}